.main-contents
    display: flex
    flex-wrap: wrap
    @media screen and (max-width: 778px)
        flex-direction: column
        overflow-y: scroll


    .left-side
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: center
        align-items: center
        width: 50%
        @media screen and (max-width: 778px)
            width: 100%
            margin-bottom: 1.5rem

        img
            width: 40%
            border: 5px solid #5802b0
            border-radius: 20px
            @media screen and (max-width: 778px)
                width: 100px
                border-radius: 100%
                border: 5px solid #5802b0


        .info-user
            color: white
            display: flex
            flex-direction: column
            align-items: center
            span
                font-size: 1.4rem
                opacity: 0.5
                font-weight: 300
                .stars
                    color: #ffd900
            

    .Player
        position: relative
        top: 35px
        right: 18.5%
        background-color: #5802b0
        font-size: 3rem
        display: flex
        align-items: center
        justify-content: center
        color: #ffd900b4
        height: 70px
        width: 70px
        border-radius: 50%
        cursor: pointer
        @media screen and (max-width:778px)
            right: 6.5%
            height: 50px
            width: 50px
            font-size: 2.5rem

    

        
           



    .right-side
        width: 50%
        height: calc( 100vh - 160px)
        display: flex
        justify-content: center
        overflow: hidden
        @media screen and (max-width: 778px)
            flex-direction: column
            width: 100%
            height: 100%
            overflow-y: hidden



        




